NORTHSTAR_HTTP_PORT=8765
NORTHSTAR_LOG_LEVEL=INFO
NORTHSTAR_POSTGRES_DB=northstar
NORTHSTAR_POSTGRES_USER=northstar
NORTHSTAR_POSTGRES_PASSWORD=replace_with_a_long_random_secret
NORTHSTAR_NEO4J_USER=neo4j
NORTHSTAR_NEO4J_PASSWORD=replace_with_a_long_random_secret
NORTHSTAR_ES_JAVA_OPTS=-Xms256m -Xmx512m
NORTHSTAR_NEO4J_HEAP_INITIAL=256m
NORTHSTAR_NEO4J_HEAP_MAX=512m
NORTHSTAR_NEO4J_PAGECACHE=256m
NORTHSTAR_CORS_ORIGINS=http://128.140.71.62:8765
NORTHSTAR_HEALTH_CHECK_TIMEOUT_SECONDS=5
NORTHSTAR_PRIVATE_DATA_DIRECTORY=/opt/northstar-private
